# Created by .ignore support plugin (hsz.mobi)
.gradle
/build/
/classes/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea
out
gen### Java template
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
node_modules
bower_components