.filter-sidebar {
    float: left;
    max-width: 160px;
}

.filter-sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 160px;
    background-color: #f1f1f1;
}

.filter-sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.filter-sidebar li a:hover {
    background-color: #555;
    color: white;
}