.filter-main {
    margin: 0 0 0 170px;
    display: block;
}

.filter-main p {
    padding: 2%;
}

.filter-main table {
    border-collapse: collapse;
    width: 70%;
}

.filter-main tr, .filter-main td {
    border: 1px solid #ddd;
    padding: 8px;
}

.filter-main tr:nth-child(even) {
    background-color: #f2f2f2;
}

.filter-main tr:hover {
    background-color: #ddd;
}

.filter-main th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c98904;
    color: white;
}