<div class="post-list">
    <div>
        <input type="button"
               value="Previous"
               data-ng-show="!$ctrl.isFirstPage"
               data-ng-click="$ctrl.loadPreviousPage()">
        <input type="button"
               value="Next"
               data-ng-show="!$ctrl.isLastPage"
               data-ng-click="$ctrl.loadNextPage()">
    </div>
    <div data-ng-repeat="post in $ctrl.posts"
         class="post-item">
        <div class="post-text">
            Posted: {{post.posted * 1000 | date : format}}
            Scanned: {{post.scanned | date : format}}
            Triggered on: {{post.triggeredOn}}
        </div>
        <div class="post-text">
            {{post.text}}
        </div>
        <div class="post-text">
            Likes: {{post.likes}}, reposts: {{post.reposts}}, comments: {{post.comments}}
        </div>
    </div>
</div>